.popup__close {
    background-image: url(../../../images/CloseIcon.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: #00000000;
    border: none;
    padding: 0;
    background-repeat: no-repeat;

}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;


  }
}
